<a href="https://colab.research.google.com/github/CHANDU0556/OCTAVE/blob/master/SVM_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
dataset=pd.read_csv('/content/drive/My Drive/docs/scan/csv_files/Social_Network_Ads(SVM).csv')

In [0]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
X=dataset.iloc[:,[2,3]]
Y=dataset.iloc[:,4]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.25,random_state=0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [0]:
from sklearn.svm import SVC
classifier=SVC(kernel='linear',random_state=0)
classifier.fit(X_train,Y_train)
y_pred=classifier.predict(X_test)

In [0]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(Y_test,y_pred)
accuracy=accuracy_score(Y_test,y_pred)

In [0]:
cm

array([[63,  5],
       [ 7, 25]])

In [0]:
accuracy

0.88